@page "/movies/details"
@inject lab5._1.Data.ApplicationDbContext DB
@using lab5._1.Components.Class
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@movie.Title</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@movie.Description</dd>
            <dt class="col-sm-2">RelaseDate</dt>
            <dd class="col-sm-10">@movie.RelaseDate?.ToString("yyyy-MM-dd")</dd>
            <dt class="col-sm-2"> Rate</dt>
            <dd class="col-sm-10">@movie.AverageRating.ToString("0.00")</dd>
            <dt class="col-sm-2">Image:</dt>
            <dd class="col-sm-10"><img src="@movie.ImageUrl" alt="Movie Image" style="width:100%;max-width:300px;"></dd>
        </dl>
        <div>
            <EditForm Model="userRating" OnValidSubmit="SubmitRating" FormName="rating2" Enhance>
                <label for="rating">Your Rating (1-10):</label>
                <InputNumber id="rating" @bind-Value="userRating.Value" min="1" max="10" class="form-control" />
                <button type="submit" class="btn btn-primary">Submit Rating</button>
            </EditForm>
        </div>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
      
    }
</div>

@code {
    Movie? movie;
    [SupplyParameterFromForm]
    public Rating userRating { get; set; } = new();
   

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        movie = await DB.Movie.FirstOrDefaultAsync(m => m.Id == Id);

        if (movie is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task SubmitRating()
    {
        
        
        var movieToUpdate = await DB.Movie.FindAsync(movie.Id);
        if (movieToUpdate != null)
        {
            Console.WriteLine(userRating.Value);
            movieToUpdate.Rate += userRating.Value;
            movieToUpdate.RateCount += 1;
            await DB.SaveChangesAsync();
            StateHasChanged();
           
        }
    }
  
}
